<style>
    body {
        background-color: linen;
    }
</style>
<div class="container bg-light text-center mx-auto m-5">
    <div class="row">
        <div class="col-10 mx-lg-5">
            <h2>ورود</h2>
        </div>
        <div class="col-4"></div>
        <div class="col-3">
            <form action="/home/check">
                <p class="">کد ملی</p>
                <input class=" m-1" style="border-radius: 10px;" type="text" name="cod">
                <p class="">رمز</p>
                <input class=" m-1" style="border-radius: 10px;" type="password" name="pas">
                <p>تعداد بلیط</p>
                <input class=" m-1" style="border-radius: 10px;" type="password" name="bil">
                <button class="btn btn-info m-1" style="border-radius: 10px;" type="submit">ثبت بلیط</button>
                <a class="btn btn-info m-1" style="border-radius: 10px;"  href="/Home/Register">ثبت نام</a>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
